<a href="https://colab.research.google.com/github/Mafaz03/Datasets/blob/main/Dynamic_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
p = [1 ,2 , 5 , 6]
w = [2 , 3 , 4 , 5]
maximum = 8

assert len(p)/len(w) == 1 , f"Profit and its corresponding Weights are not equal len(proditf) : {len(p)} len(weight) : {len(w)}"


print(f"Profit : {p}\nWeights : {w}")

Profit : [1, 2, 5, 6]
Weights : [2, 3, 4, 5]

In [ ]:
table_generation = [[0 for x in range(maximum + 1)] for x in range(len(p) + 1)]
table = pd.DataFrame(table_generation)
table

   0  1  2  3  4  5  6  7  8
0  0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0

In [ ]:
%%writefile knapsack
def knapsack(profit : list , 
             weight : list ,
             maximum : int ,
             show_table : bool = True):
  
  table_generation = [[0 for x in range(maximum + 1)] for x in range(len(p) + 1)]
  table = pd.DataFrame(table_generation)
  
  for row in range(0, len(weight)+1):
    for column in range(0 , maximum+1):

      i , j = row , column
      
      if row == 0 or column == 0:

        table[row][column] = 0

        

    

      else:

        try:
          table[column][row] = max((table[j][i-1] ) , (table[j - w[i-1]][i-1] ) + profit[i-1])

        except:
          table[column][row] = table[column][row-1]


  if show_table:
    print(table)

In [ ]:
knapsack(profit = [1 ,2 , 5 , 6] , weight = [2 , 3 , 4 , 5] , maximum = 8)

   0  1  2  3  4  5  6  7  8
0  0  0  0  0  0  0  0  0  0
1  0  0  1  1  1  1  1  1  1
2  0  0  1  2  2  3  3  3  3
3  0  0  1  2  5  5  6  7  7
4  0  0  1  2  5  6  6  7  8

In [ ]:
result = [0 for x in range(len(w))] 
result

[0, 0, 0, 0]

In [ ]:
table

   0  1  2  3  4  5  6  7  8
0  0  0  0  0  0  0  0  0  0
1  0  0  1  1  1  1  1  1  1
2  0  0  1  2  2  3  3  3  3
3  0  0  1  2  5  5  6  7  7
4  0  0  1  2  5  6  6  7  8

In [ ]:
value = 0
row , column = 3 , 7
i , j = row , column

value = table[column][row]
row -=1
if value != table[column][row]:
  result[-1] = 1
  value = value - p[i-1]
  print(value)
for i in range(maximum):
  if value == table[i][row]:
    column = i
    print(row , column)




result

2
2 3
2 4

[0, 0, 0, 1]

In [ ]:
table[column][row]

8

In [ ]:
i

4